* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.05rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: #FFEDFA;
}

.calcultaor {
    background-color: #FFB8E0;
    margin: 50px;
    border-radius: 25px;
    border: solid black 2px;
}


.display {
    max-width: 215px;
    background-color: #B4EBE6;
    margin: 20px;
    padding: 5%;
    text-align: end;
    border-radius: 25px;
    border: solid black 2px;
    overflow: auto;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4,50px);
    grid-template-rows: repeat(5,50px);
    gap: 5px;
    margin: 20px;
    grid-template-areas: 
    "seven eight nine div"
    "four five six multi"
    "one two three minus"
    "ze ze dot plus"
    "reset . . equal";
    position: relative;
}

button {
    background-color: #C68EFD;
    border-radius: 25px;
    border: solid black 2px;
}

button:hover {
    background-color: #E9A5F1;
}

button:active {
    background-color: #8F87F1;
}

#reset {
    background-color: #BE5985;
}

#reset:hover {
    background-color: #9C496D;
}

#reset:active {
    background-color: #C95568;
}

.seven {grid-area: seven;}
.eight {grid-area: eight;}
.nine {grid-area: nine;}
.nine {grid-area: nine;}
.div {grid-area: div;}
.four {grid-area: four;}
.five {grid-area: five;}
.six {grid-area: six;}
.multi {grid-area: multi;}
.one {grid-area: one;}
.two {grid-area: two;}
.three {grid-area: three;}
.minus {grid-area: minus;}
.ze {grid-area: ze;}
.equal {grid-area: equal;}
.plus {grid-area: plus;}
#reset {grid-area: reset;}

.eyeheart {
    position: absolute;
    width: 100px;
    bottom: -2px;
    left: 60px;
}